<div id="about-modal" class="reveal-modal" data-reveal>
  <div class="row">
  	<div class="small-12 columns">
		  <h2>About Oodls</h2>
		</div>
  </div>
  <div class="row">
  	<div class="small-12 columns">
			<h3>Oodls is ...</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p></p>
		</div>
	</div>
  <a class="close-reveal-modal">&#215;</a>
</div>