<div id="qualifications-modal" class="reveal-modal" data-reveal>
  <div class="row">
  	<div class="small-12 columns">
		  <h2>Do I qualify?</h2>
		</div>
  </div>
  <div class="row">
  	<div class="small-12 columns">
			<h3>The following organisations may sign up to Oodls:</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<ul id="qualifications">
				<li>Registered charities</li>
				<li>Community events / activities</li>
				<li>After school clubs</li>
				<li>Volunteer run events / organisations</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>If you are unsure if your organisation qualifies, please <%= link_to "contact", "#", "data-reveal-id" => "contact-us-modal" %> us.</p>
		</div>
	</div>
  <a class="close-reveal-modal">&#215;</a>
</div>