<div id="what-else-modal" class="reveal-modal" data-reveal>
  <div class="row">
  	<div class="small-12 columns">
		  <h2>What more can I do?</h2>
		</div>
  </div>
	<div class="row">
		<div class="small-12 columns">
			<ul id="what-else">
				<li>Volunteer at an Oodls charity</li>
				<li>Organise a local waste food collection on behalf of an Oodls charity</li>
				<li>Tell everyone you know to check out the site!</li>
				<li>Follow us on twitter</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>Ideas / suggestions? <%= link_to "let us know", "#", "data-reveal-id" => "contact-us-modal" %>.</p>
		</div>
	</div>
	<div class="row">
  	<div class="small-12 columns">
			<h3>Coders: want to contribute?</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>Oodls is an open-source project. If you'd like to help maintain the site, <a href="https://github.com/Callisto13/Oodls">fork us on Github!</a></p>
		</div>
	</div>
  <a class="close-reveal-modal">&#215;</a>
</div>